/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	
}

a {
	text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
	background-color: inherit;
	cursor: pointer;
}

/** end reset css**/
body {
	max-width: 1440px;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #FFFEF8;
	line-height: 1;
	margin: auto;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
	margin-right: auto;
	margin-left: auto;
	max-width: 1140px;
}

main {
	padding: 0 245px;
}

section {
	margin: 50px 0;
	height: auto;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	gap: 30px;
	list-style-type: none;
}

li a {
	padding: 0 10px;
	font-size: 1.2em;
	color: #000000;
}


li a:hover {
	color: #B1663C;
}

.login {
	font-weight: 600;
}

li img {
	width: 22px;
	height: 22px;
}

#introduction {
	display: flex;
	align-items: center;
	margin: 139px 0;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 474px;
}

#introduction article {
	flex: 1;
	margin-left: 72px;
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
}

 /* Bouttons du filtre */
.filtres {
	display: flex;
	margin-bottom: 50px;
	margin-top: 50px;
	gap:10px;
	width: 585px;
	margin-left: auto;
	margin-right: auto;
}

/* Style de chaque boutton du filtre */

.bouton-filtre {
	border: 1px solid #1D6154;
	border-radius: 60px;
	font-size: 16px;
	background-color: inherit;
	color: #1D6154;
	font-family: 'Syne';
	font-weight: 700;
	height: 38px;
	min-width: 100px;
	flex-grow: 1;
}

.bouton-filtre.focus {
    color: white;
    background-color: #1D6154;
}

.bouton-filtre:focus{
	color: white;
	background-color: #1D6154;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

#contact {
	width: 50%;
    margin: auto;
}

#contact > * {
	text-align: center;
}

#contact h2{
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background-color: white;
	margin-top: 11.4px;
	
	height: 60px;
}

footer nav {
	margin-right: 107px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 0;
}

/********** Section Page Login ***********/

.login-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 150px;
	margin-bottom: 355px;
}

.form-title {
	font-size: 30px;
}

.login-section form {
	margin-top: 37px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-content {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.form-content:first-child {
	margin-bottom: 30px;
}

.form-content label {
	color: #3D3D3D;
	font-weight: 500;
}

.form-content input {
	width: 379px;
	height: 51px;
	box-shadow: 0px 4px 14px 0px #00000017;
	padding: 8px;
}

.login-section button {
	margin-top: 37px;
	width: 179px;
    height: 36px;
    border-radius: 60px;
	background-color: #1D6154;
	color: white;
	font-weight: 700;
}

.login-section a {
	color: #3D3D3D;
	text-decoration: underline;
	margin-top: 30px;
	font-weight: 500;
}

.error-message {
	display: flex;
	justify-content: center;
	justify-content: center;
	color: white;
	background-color: rgb(218, 5, 5);
    margin-top: 15px;
	border-radius: 5px;
	padding: 5px;
	font-weight: 600;
	display: none;
}

.fa-circle-exclamation {
	color : white;
	margin-right: 10px;
	margin-left: 5px;
}

/*********** Page édition ***********/
.edition {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	gap: 21px;
	height: 59px;
	background-color: #000000;
	color: white;
}

.projets-edit-div {
	display: flex;
	justify-content:center;
	align-items: center;
	margin-bottom: 92px;
}

.gallery-title {
	margin-left: 130px;
	margin-right: 31px;
}

.projets-edit-div i {
	margin-right: 11px;
}

.projets-edit-div a {
	color: #000000;
}

/** Modale  **/

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:#0000004D;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	display: none;
}

.modal-wrapper {
	display: flex;
	flex-direction: column;
	width: fit-content;
	height: 688px;
	padding: 0 105px;
	flex-wrap: wrap;
	align-items: center;
	background-color: #fff;
	position: relative;
}

.modal-wrapper2 {
	display: flex;
	flex-direction: column;
	height: 688px;
	background-color: #fff;
	position: relative;
	padding: 0 105px;
	display: none;
}

.close-modal {
	position: absolute;
	right: 30px;
	margin-top: 26px;
}

.fa-arrow-left {
	position: absolute;
	top: 30px;
	left: 26px;
	font-size: 21px;
}

.fa-xmark {
	font-size: 20px;
}

.title-modal{
	margin-top: 60px;
	margin-bottom: 46px;
	font-size: 26px;
	font-weight: 400;
	color: #000;
	font-family: "Work Sans" ;
}

.travaux-modale {
	display: flex;
	width: 430px;
    row-gap: 29px;
	column-gap: 9px;
	flex-wrap:wrap;
	max-height: 366px;
    overflow-y: auto;
}

.work-container {
	width: fit-content;
	height: 102.57px;
	position: relative;
}

.work-container img {
	max-width: 74.61px;
	height: 100%;
}

.del-button {
	position: absolute;
	top: 6px;
	right: 6px;
	padding: 3px;
	background-color: #000;
	width: 17px;
	height: 17px;
}

.fa-trash-can {
	font-size: 10px;
	color: #fff;
	position:inherit;
	left: 4px;
	top: 4px;
}

.add-work {
	margin-top: 67.3px;
	width: 420px;
	border-top: 1px solid #B3B3B3;
	display: flex;
	justify-content: center;
}

.add-work a {
	color: white;
}

.add-work-btn {
	margin-top: 38px;
	width: 237px;
    height: 36px;
    border-radius: 60px;
	background-color: #1D6154;
	font-weight: 700;
	font-family: "Syne";
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

 
.img-div,
.img-div-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 420px;
	height: 169px;
	border-radius: 3px;
	background-color: #E8F1F6;
	margin-bottom: 30px;
}

.fa-image {
	font-size: 59px;
	color: #B9C5CC;
	margin-top: 22.5px;
}

.add-photo-btn {
	width: 173px;
    height: 36px;
    border-radius: 50px;
	background-color: #CBD6DC;
	margin-top: 8px;
	margin-bottom: 8px;
	font-weight: 500;
	color: #306685;
}

.add-photo-input {
	display: none;
}

.img-div-content p {
	font-size: 10px;
	margin-bottom: 0;
}

.image-container {
	width: 129px;
	height: 100%;
}

.add-work-form {
	display: flex;
	flex-direction: column;
}

.add-work-form label {
	margin-bottom: 10px;
	font-weight: 500;
}

#category ,
#title {
	height: 51px;
	outline: none;
	color: #444444;
	box-shadow: 0px 4px 14px 0px #00000017;
	padding-left: 16px;
}

.label-category {
	margin-top: 21px;
}

.option-cat {
	color: inherit;
}

.post-btn {
	width: 237px;
    height: 36px;
    border-radius: 60px;
	background: #A7A7A7;
	color: #fff;
	font-weight: 700;
	font-family: "Syne";
	align-self: center;
	margin-top: 79px;
	position: relative;
}

.post-btn::before {
	content: "";
	position: absolute;
	width: 100px;
	height: 1px;
	background-color: #B3B3B3;
	top: -40px;
    width: 420px;
	left: -90px;
}

.fa-pen-to-square {
	pointer-events: inherit;
}